	<nav>
	<img class="logo" src="img/Legitsu_Logo" alt="Legitsu_Logo">
	<h1>Do a Custom Workout Built Just for You</h1>
</nav>

	<div class="controls">
		<div class="control">
			<i class="fa fa-clock-o fa-4x"></i>
			<input ng-model='settings.exerciseTime' type="number">
		</div>
		<div class="control">
			<i class="fa fa-tachometer fa-4x"></i>
				<ul>
					<li><input ng-model='settings.easy' type="checkbox" value=""><label for="">Easy</label></li>
					<li><input ng-model='settings.moderate' type="checkbox" value="2"><label for="">Moderate</label> </li>
					<li><input ng-model='settings.challenging' type="checkbox" value="3"><label for="">Challenging</label> </li>
				</ul>	
		</div>
		<div class="control">
			<i class="fa fa-male fa-4x"></i>
			
				<ul>
					<li><input ng-model='settings.fullBody' type="checkbox" value="Full Body"><label for="">Full Body</label></li>
					<li><input ng-model='settings.core' type="checkbox" value="Core"><label for="">Core</label> </li>
					<li><input ng-model='settings.lowerBody' type="checkbox" value="Lower Body"><label for="">Lower Body</label> </li>
					<li><input ng-model='settings.upperBody' type="checkbox" value="Upper Body"><label for="">Upper Body</label></li>
				</ul>	
		</div>
		<!-- <div class="control">
			<h2>Goals</h2>
				<ul>
					<li><input type="checkbox" value="Full Body"><label for="">Weight Loss</label></li>
					<li><input type="checkbox" value="Core"><label for="">Build Muscle</label> </li>
					<li><input type="checkbox" value="Lower Body"><label for="">Toning</label> </li>
					<li><input type="checkbox" value="Upper Body"><label for="">Flexbility</label></li>
					<li><input type="checkbox" value="Upper Body"><label for="">Endurance</label></li>
				</ul>
		/div>< -->
		<div class="control">
			<i class="fa fa-wrench fa-4x"></i>
				<ul>
					<li>
						<input ng-model='settings.noEquipment' type="checkbox" value="None"><label for="">None</label>
					</li>
					<li>
						<input ng-model='settings.weights' type="checkbox" value="Weights"><label for="">Weights (any size)</label> 
					</li>
					<li>
						<input ng-model='settings.yogaMat' type="checkbox" value="Yoga Mat"><label for="">Yoga Mat</label> 
					</li>
					<li>
						<input ng-model='settings.exerciseBall' type="checkbox" value="Exercise Ball"><label for="">Exercise Ball</label>
					</li>
					<li>
						<input ng-model='settings.stretchBand' type="checkbox" value="Stretch Band"><label for="">Stretch Band</label>
					</li>
				</ul>
		</div>	
	</div>

	<div class="start">
			<button ng-click="go('/exercise')"><i class="fa fa-play"></i> Start Exercising</button>
	</div>
