<nav>

			<img class="logo" src="img/Legitsu_Logo" alt="Legitsu_Logo">
			<h1>Do a Custom Workout Built Just for You</h1>
	</nav>

	<div class="controls">
		<div class="control">
			<h2>Time</h2>
		</div>
		<div class="control">
			<h2>Difficulty</h2>
			<ul>
					<li><input type="checkbox" value="Full Body"><label for="">1</label></li>
					<li><input type="checkbox" value="Core"><label for="">2</label> </li>
					<li><input type="checkbox" value="Lower Body"><label for="">3</label> </li>
				</ul>	
		</div>
		<div class="control">
			<h2>Body Focus</h2>
				<ul>
					<li><input type="checkbox" value="Full Body"><label for="">Full Body</label></li>
					<li><input type="checkbox" value="Core"><label for="">Core</label> </li>
					<li><input type="checkbox" value="Lower Body"><label for="">Lower Body</label> </li>
					<li><input type="checkbox" value="Upper Body"><label for="">Upper Body</label></li>
				</ul>	
		</div>
		<div class="control">
			<h2>Goals</h2>
				<ul>
					<li><input type="checkbox" value="Full Body"><label for="">Weight Loss</label></li>
					<li><input type="checkbox" value="Core"><label for="">Build Muscle</label> </li>
					<li><input type="checkbox" value="Lower Body"><label for="">Toning</label> </li>
					<li><input type="checkbox" value="Upper Body"><label for="">Flexbility</label></li>
					<li><input type="checkbox" value="Upper Body"><label for="">Endurance</label></li>
				</ul>
		</div>
		<div class="control">
			<h2>Equipment</h2>
				<ul>
					<li>
						<input type="checkbox" value="Full Body"><label for="">None</label>
					</li>
					<li>
						<input type="checkbox" value="Core"><label for="">Weights (any size)</label> 
					</li>
					<li>
						<input type="checkbox" value="Lower Body"><label for="">Yoga Mat</label> 
					</li>
					<li>
						<input type="checkbox" value="Upper Body"><label for="">Exercise Ball</label>
					</li>
					<li>
						<input type="checkbox" value="Upper Body"><label for="">Stretch Band</label>
					</li>
				</ul>
		</div>	

		<div class="start">
			<button href="#">Start Exercising</button>
		</div>
	</div>