<nav class="exerciseNav">
	<div class = "exerciseControls">
		<i ng-click="pause()" class="fa fa-pause fa-4x"></i>
		<i ng-click="next()" class="fa fa-arrow-right fa-4x"></i>	
	</div>
</nav>

<div class="exerciseCard">
	
		<div class="timer">
			<h2>{{count}}</h2>
			
		</div>
		<h1>{{currentExercise.name}}</h1>

	<ul>
		<li><img src="{{currentExercise.step1}}" alt=""></li>
		<li><img src="{{currentExercise.step2}}" alt=""></li>
		<li><img src="{{currentExercise.step3}}" alt=""></li>
	</ul>
	<h1>{{comingUp}}</h1>


</div>




